################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AutomotrizFront/Presentación/Soporte/FrmActualizarCliente.Designer.cs
/AutomotrizFront/.vs/Automotriz/v17/.suo
/AutomotrizFront/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/AutomotrizFront/Presentación/Soporte/FrmActualizarCliente.cs
/AutomotrizFront/Presentación/Soporte/FrmActualizarCliente.resx
/AutomotrizFront/.vs/Automotriz/FileContentIndex/0e69911d-fcfc-4eb0-972d-6e5b0aff3f7c.vsidx
/AutomotrizFront/.vs/Automotriz/FileContentIndex/30c213c7-9cf9-46f7-b04f-6b64f3fb0630.vsidx
/AutomotrizFront/.vs/Automotriz/FileContentIndex/d348985b-fbdc-42c1-b48a-efe7d6c40d57.vsidx
/AutomotrizFront/.vs/Automotriz/FileContentIndex/f1a69ec1-ea16-473d-ba38-9841add73376.vsidx
/.gitignore
/.gitignore
